NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1

# To test local frontend against the deployed Cloud Run backend, use:
# NEXT_PUBLIC_API_BASE_URL=https://zeitgeist-api-opowb5bpna-uc.a.run.app/api/v1
